@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    margin-left: 42%;
    margin-top: 40px;
    gap: 50px;
}
.head a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: xx-large;
    color: rgb(111, 101, 101);
    font-weight: 900;
    font-family: 'Fascinate Inline', cursive;
}
.head a:hover{
    color: black;
    transition: 1s;
}
main{
    margin: auto;
    width: 800px;
}
.container{
    margin-top:7%;
    display: flex;
    height: 70vh;
    width: 900px;
    margin-left: -6%;
}
h2{
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 95%);
    font-size: xx-large;
    font-family: 'Big Shoulders Display', cursive;
}
p{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%, 0.75);
    letter-spacing: 3px;
    line-height: 25px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.suv{
    background-color: hsl(184, 100%, 22%);
    padding: 30px;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
button{
    margin-top: 45%;
    padding: 10px 20px;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}
button:hover{
    background-color: transparent;
    border: 1px solid white;
}
.sedans button{
    color: hsl(31, 77%, 52%);
}
.sedans button:hover{
    color: white;
}
.suv button{
    color: hsl(184, 100%, 22%);
}
.suv button:hover{
    color: white;
}
.luxury button{
    color: hsl(179, 100%, 13%);
}
.luxury button:hover{
    color: white;
}


/* GRID */


.house{
    display: grid;
    width: 100%;
    grid-template-areas: 
         'a a b'
         'c d d'
         'c e e'
    ;
    gap: 10px;
    margin: auto;
    margin-top: 7%;
    height: 70vh;
}
.house div{
    text-align: center;
    padding: 2em;
    display: flex;
    place-items: center;
}
.item-a{
    background-color: orangered;
    grid-area: a;
}
.item-b{
    background-color: orange;
    grid-area: b;
}
.item-c{
    background-color: green;
    grid-area: c;
}
.item-d{
    background-color: blue;
    grid-area: d;
}
.item-e{
    background-color: blue;
    grid-area: e;
}

@media screen and (max-width: 375px){
    body{
        display: flex;
        flex-wrap: wrap;
    }
    .head{
        display: flex;
        margin-top: 40px;
        gap: 30px;
        margin-left: 45%;
        margin-bottom: 40px;
    }
    .container{
        padding: 50px 0;
        flex-direction: column;
        margin: 0.5em;
    }
    .sedans{
        padding: auto;
        position: relative;
        margin-left: 3%;
        width: 300px;
        height: 500px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        margin-top: -5%;
    }
    .suv{
        position: relative;
        max-width: 300px;
        height: 500px;
        margin-left: 3%;
    }
    .luxury{
        position: relative;
        margin-left: 3%;
        max-width: 300px;
        height: 500px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    p{
        font-size: 15px;
        letter-spacing: 3px;
    }
    h2{
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 20px;
        color: hsl(0, 0%, 95%);
        font-size: x-large;
        font-family: 'Big Shoulders Display', cursive;
    }
    button{
        position: relative;
        display: inline-block;
    }
}